<!--
  Navigation buttons at the bottom of the post.
-->

<div class="post-navigation d-flex justify-content-between">
  {% if page.previous.url %}
  <a href="{{ site.baseurl }}{{ page.previous.url }}" class="btn btn-outline-primary"
    prompt="{{ site.data.locales[lang].post.button.previous }}">
    <p>{{ page.previous.title }}</p>
  </a>
  {% else %}
  <div class="btn btn-outline-primary disabled"
    prompt="{{ site.data.locales[lang].post.button.previous }}">
    <p>-</p>
  </div>
  {% endif %}

  {% if page.next.url %}
  <a href="{{ site.baseurl }}{{page.next.url}}" class="btn btn-outline-primary"
    prompt="{{ site.data.locales[lang].post.button.next }}">
    <p>{{ page.next.title }}</p>
  </a>
  {% else %}
  <div class="btn btn-outline-primary disabled"
    prompt="{{ site.data.locales[lang].post.button.next }}">
    <p>-</p>
  </div>
  {% endif %}

</div>

<hr />

<!-- utterances -->
<!-- thanks to https://github.com/utterance/utterances/issues/549#issuecomment-917091550 -->
<section>
  <div id="light-mode">
    <script src="https://utteranc.es/client.js"
            repo="Huey-J/Huey-J.github.io"
            issue-term="url"
            label="💬"
            theme="github-light"
            crossorigin="anonymous"
            async>
    </script>
  </div>

  <div id="dark-mode">
    <script src="https://utteranc.es/client.js"
            repo="Huey-J/Huey-J.github.io"
            issue-term="url"
            label="💬"
            theme="github-dark"
            crossorigin="anonymous"
            async>
    </script>
  </div>

  <script>
    var uttLight = document.getElementById("light-mode");
    var uttDark = document.getElementById("dark-mode");

    let initTheme = "light";
    if ($("html[data-mode=dark]").length > 0
      || ($("html[data-mode]").length == 0
        && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
      initTheme = "dark";
    }

    if (initTheme === "dark") {
      uttLight.parentNode.removeChild(uttLight);
    } else {
      uttDark.parentNode.removeChild(uttDark);
    }
  </script>
</section>
